body{
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.main-page{
    background-color: #1c1a5e;
    display: flex;
    width:fit-content;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 97vh;
}
.title h1{
    color:white;
    font-size:3rem;
}
.chest-img img{
    width:30rem;
}
.play-btn a{
    text-decoration: none;
    font-size:1rem;
    color:#213772;
}
.play-btn{
    background-color: #41e5ed;
    width:8rem;
    height:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.question{
    background-color:#1c1a5e;
    font-family: 'Poppins';
    width:50vh;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:60vh;
}
.options-div{
    display: flex;
    width:fit-content;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.option{
    background-color: white;
    margin:0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:0.7rem;
    color:#213772;
    border-radius: 5px;
    width:10rem;
    height:1.5rem;
}
.option:hover{
    cursor: pointer;
}